
@model MyCVCore.EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "AdminSendMessage";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Mesaj Gönder</h4>
            <div class="table-responsive">
                <form class="form" method="post">
                    <div class="form-group">
                        <label>Alıcı Mail :</label>
                        <input type="email" class="form-control" asp-for="Receiver">
                    </div>

                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Subject">
                    </div>
                    <div class="form-group">
                        <label>Mesaj</label>
                        <textarea class="form-control" asp-for="MessageContent" rows="4"></textarea>
                    </div>
                    <button class="btn btn-primary mr-2">Gönder</button>

                </form>
            </div>
        </div>
    </div>
</div>

