@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hizmet Güncelle</h4>
        <form method="post">
            @Html.HiddenFor(x=>x.ServiceId)
            <div class="form-group">
                <label class="form-control-label">Hizmet Adı</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="form-control-label">Resim Url</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            </div>

            <button class="btn btn-inverse-primary btn-fw">Güncelle</button>
        </form>

    </div>
</div>

