@model List<EntityLayer.Concrete.Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a href="/Service/AddService/" class="btn btn-inverse-warning"><i class="mdi mdi-file-check btn-icon-prepend"></i>Yeni Hizmet</a>
            <p class="card-description"></p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Resim Url</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;


                            <tr>
                                <td class="py-1">
                                   @count
                                </td>
                                <td> @item.Title </td>
                                <td>
                                    <img class="bg-white" src="@item.ImageUrl" style="height:30px;width:auto;" />
                                </td>
                               

                                <td scope="row"><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-outline-danger"><i class="mdi mdi-delete btn-icon-prepend"></i>Sil</a></td>
                                <td scope="row"><a href="/Service/EditService/@item.ServiceId" class="btn btn-outline-info"><i class="mdi mdi-pencil btn-icon-prepend"></i>Düzenle</a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

