@using MyCVCore.EntityLayer.Concrete
@model Announcement
@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyuru Detay</h4>
            <p class="card-description">
               
            </p>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <tbody>

                        <tr><td><b>Başlık: </b>@Model.Title</td></tr>
                        <tr><td><b>Tarih : </b>@(((DateTime)@Model.Date).ToString("dd.MM.yyyy"))</td></tr>
                        <tr><td><b>İçerik : </b>@Model.Content</td></tr>
                        <tr><td></td></tr>
                       
                </table>
            </div>
        </div>
    </div>
</div>

